@font-face {
  font-family: SwedenSans;
  src: url("swedensans.woff");
}

html {
	padding: 0;
	margin: 0;
	background: white;
	color: black;
}
a {
	color: red;
	transition: color 0.2s;
}
a:hover {
	color: orange;
}

body {
	font-family: SwedenSans, sans, sans-serif, helvetica, arial;
	padding: 0;
	margin: 0;
}
body.junk {
    cursor: url("../img/junk-cursor.png") 20 14, auto;
}
body.junk a, a.junk {
    cursor: url("../img/junk-pointer.png") 48 10, pointer;
}

.main {
	padding: 1em;
	padding-top: 6em;
}

.center {
	text-align: center;
}

.nav {
	position: fixed;
	background: coral;
	color: black;
	border-top: 1em solid black;
	font-size: 125%;
	min-height: 3em;
	display: block;
	display: table;
	width: 100%;
	box-shadow: 0 1em 1em white;
}
.nav img.logo {
	float: left;
	height: 3em;
	width: 5.35em;
	transform: rotate(-5deg) scale(1.25);
	margin: -0.2em 2em;
	border: 0.2em solid coral;
	border-radius: 0.5em;
	transition: transform 0.2s;
}
a:focus {
	/* outline: dashed gold; */
	outline: none;
}
.nav a:hover img.logo {
	transform: rotate(5deg) scale(1.5) translate(0, 0.1em);
	border: 0.2em solid gold;
}
.nav ul {
	display: inline;
	margin: 0;
	padding: 0;
	display: table-cell;
	vertical-align: middle;
}
.nav li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0.5em;
}
.nav li.current {
}
.nav a {
	display: inline;
	color: white;
	background: coral;
	text-decoration: none;
}
.nav li.current a {
	border-bottom: thick solid;
}
.nav a:hover {
	color: gold;
}

h1 {
	font-size: 150%;
	border-bottom: solid coral;
	padding: 0 0em;
	margin-top: 1em;
}
h2 {
	font-size: 125%;
	color: coral;
	padding: 0 0em;
}
p {
	margin-left: 1em;
	margin-right: 1em;
}

#rss {
	float: right;
	height: 1em;
}

em {
}

ul.thumbnail {
	margin: 0;
	padding: 0;
	text-align: center;
}
ul.thumbnail li {
	display: inline-block;
	margin: 0.5em;
	vertical-align: bottom;
}
ul.thumbnail li:hover {
}
ul.thumbnail a {
/*
	font-weight: bold;
	color: lightgrey;
	text-shadow: 0 0 4px white, 0 1px 3px white;
*/
	color: white;
	text-shadow: 0px 0px 2px black;
	display: table-cell;
	width: 160px;
	height: 90px;
    /*
	width: 192px;
	height: 108px;
   */
	text-align: left;
	vertical-align: bottom;
	padding: 0.5em;
	background-size: 100% 100%;
	background-position: 50% 20%;
	border: solid black;
	transition: background-size 0.2s, box-shadow 0.2s, border 0.2s;
	width: 33.333vw;
	height: 18.75vw;
/*
	width: 40vw;
	height: 22.5vw;
*/
}
ul.thumbnail a:hover {
	background-size: 125% 125%;
/*
	box-shadow: 0 0 2em coral;
*/
	border: solid gold;
}
ul.thumbnail a[href="enjoytheshow"] {
	background-image: url("../img/enjoytheshow.jpg");
}
ul.thumbnail a[href="youcantignoreaninja"] {
	background-image: url("../img/youcantignoreaninja.jpg");
}
ul.thumbnail a[href="doortodoorfailsman"] {
	background-image: url("../img/doortodoorfailsman.jpg");
}
ul.thumbnail a[href="ishouldntthink"] {
	background-image: url("../img/ishouldntthink.jpg");
}
ul.thumbnail a[href="santawontyoubringmesomerum"] {
	background-image: url("../img/santawontyoubringmesomerum.jpg");
}
ul.thumbnail a[href="thesmell"] {
	background-image: url("../img/thesmell.jpg");
}
ul.thumbnail a[href="thechair"] {
	background-image: url("../img/thechair.jpg");
}
ul.thumbnail a[href="gentlemansentertainment"] {
	background-image: url("../img/gentlemansentertainment.jpg");
}
ul.thumbnail a[href="citizenwhiplash"] {
	background-image: url("../img/citizenwhiplash.jpg");
}
ul.thumbnail a[href="y2k20"] {
	background-image: url("../img/y2k20.jpg");
}
ul.thumbnail a[href="thenews"] {
	background-image: url("../img/thenews.jpg");
}
ul.thumbnail a[href="revensils"] {
	background-image: url("../img/revensils.jpg");
}
ul.thumbnail a[href="incontinuity"] {
	background-image: url("../img/incontinuity.jpg");
}
ul.thumbnail a[href="jpp001"] {
	background-image: url("../img/jpp001.jpg");
}
ul.thumbnail a[href="jpp002"] {
	background-image: url("../img/jpp002.jpg");
}
ul.thumbnail a[href="jpp003"] {
	background-image: url("../img/jpp003.jpg");
}
ul.thumbnail a[href="jpp004"] {
	background-image: url("../img/jpp004.jpg");
}
ul.thumbnail a[href="jpp005"] {
	background-image: url("../img/jpp005.jpg");
}
ul.thumbnail a[href="tameable"] {
	background-image: url("../img/tameable.jpg");
}

iframe {
	width: 80%;
	height: 45vw;
}

figure {
	background: black;
	margin: 1em;
    display: inline-block;
	width: 40%;
	border: solid black;
	transition: border 0.2s;
	text-align: center;
}
figure.media {
	width: 30%;
}
figure img {
	width: 100%;
}
figure audio {
	background: grey;
	width: 100%
}
figure a {
	text-decoration: none;
}
figure:hover {
	border: solid gold;
}
figcaption {
    color: #fff;
    text-align: center;
	transition: color 0.2s;
}
figure:hover figcaption {
	color: gold;
}

table {
    border-spacing: 0;
    border: solid coral;
/*    caption-side: bottom;*/
}
th {
    color: white;
    background: coral;
}
tr:nth-child(odd) {
    background: rgba(0, 0, 0, 0.15);
}
td {
    padding: 0.25em 0.5em;
}
td.episode {
    background: white;
    outline: thin solid coral;
}

@media (max-width: 40em) {
	.nav img.logo {
		margin: -0.2em 1em;
	}
	.nav li {
		margin: 0 0.25em;
	}
	figure, figure.media {
		width: 80%;
	}
}
