@font-face {
  font-family: SwedenSans;
  src: url("swedensans.woff");
}

html {
	padding: 0;
	margin: 0;
	background: black;
	color: silver;
}
a {
	color: khaki;
	transition: text-shadow 0.2s, color 0.2s;
}
a:hover {
	color: ivory;
	text-shadow: 0 0 1em skyblue;
}

body {
	font-family: SwedenSans, sans-serif, helvetica, arial;
	padding: 0;
	margin: 1em;
}

h1.chunky {
	background: dimgrey url("../img/splatbg.jpg");
	background-position: 50% 50%;
	color: rgba(255, 255, 255, 0.85);
	margin: 0 -0.4em;
	padding: 1em 1em;
	background-repeat: repeat-x;
	background-size: cover;
/*	background-size: 100% 150%;*/
	font-weight: normal;
	font-size: 255%;
}

.nav {
	background: silver;
	color: black;
	margin: 2em -1em;
}
.nav img.logo {
	width: 5vw;
	transform: rotate(-5deg) scale(2.0);
	box-shadow: 0 0 0.5em black;
	min-width: 100px;
	margin: 0 4em;
	vertical-align: middle;
}

h2 {
	color: ivory;
	border-bottom: thin solid tan;
}

em {
	font-style: normal;
	color: white;
}

ul.thumbnail {
	margin: 0;
	padding: 0;
	text-align: center;
}
ul.thumbnail li {
	display: inline-block;
	margin: 0.5em;
	vertical-align: bottom;
}
ul.thumbnail li:hover {
}
ul.thumbnail a {
/*
	font-weight: bold;
	color: lightgrey;
*/
	text-shadow: 0 0 4px black, 0 1px 3px black;
	display: table-cell;
	width: 192px;
	height: 108px;
	text-align: left;
	vertical-align: bottom;
	padding: 0.5em;
	background-size: 100% 100%;
	background-position: 50% 20%;
	border: thin solid black;
	transition: background-size 0.2s, box-shadow 0.2s, border 0.2s;
	width: 40vw;
	height: 22.5vw;
}
ul.thumbnail a:hover {
	background-size: 125% 125%;
	box-shadow: 0 0 2em skyblue;
	border: thin solid white;
}
ul.thumbnail a[href="enjoytheshow"] {
	background-image: url("../img/enjoytheshow.jpg");
}
ul.thumbnail a[href="youcantignoreaninja"] {
	background-image: url("../img/youcantignoreaninja.jpg");
}
ul.thumbnail a[href="doortodoorfailsman"] {
	background-image: url("../img/doortodoorfailsman.jpg");
}
ul.thumbnail a[href="thesmell"] {
	background-image: url("../img/thesmell.jpg");
}
ul.thumbnail a[href="gentlemansentertainment"] {
	background-image: url("../img/gentlemansentertainment.jpg");
}
