<pre>
FEARS and GEARS                 <a href="rpg.txt" download="fearsandgears.txt">http://chunkymilkproductions.com/fearsandgears</a>
===============
This is a simple tabletop Role-Playing Game.  Leverage fears.  Engage gears.

Everybody: Create Player Characters
-----------------------------------
1) Roll a six-sided die, or choose, or improvise, your STYLE and ROLE:
  1 Famous  2 Sneaky  3 Nudist  4 Daredevil  5 Antisocial  6 Animal lover
  1 Hunter  2 Artist  3 Doctor  4 Linguist   5 Engineer    6 Merchant/Trader

2) Roll or choose your APTITUDE number, 2-5:    FEARS (2)--(3)--(4)--(5) GEARS
  Low  means good with FEARS/emotion - intuition, diplomacy, passion, ...
  High means good with GEARS/logic   - technology, science, precision, ...

3) Name and pronoun your character, perhaps something that fits their traits.
  "Artsy Brash (he)"  or  "Dr. Whiskers (she)"  or  "Shooty McBuff (they)"

4) Give your character one inventory item from each of these categories:
  - Tool  - Photo  - Hygenic  - Cosmetic  - Literature  - Functional jewelry

5) Give your character a driving goal, private or public.  Examples:
  - Deal justice to wrong-doers     - Make out with hotties  - Solve mysteries
  - Steal anything not nailed down  - Help people in need    - Gain reputation

Game Master: Start the Adventure
--------------------------------
Roll/choose/improvise; everybody is at a:
  1 Magic  2 Party  3 Cooking  4 Science  5 Performing arts 6 Anger management
  1 Camp   2 Fair   3 School   4 Cruise   5 Expedition      6 Family reunion
Why did each player come here?  What's good, bad, and ugly about this place?

Warm up the group with mad-libs!  Note your favorites and add your own flavor.
A threat, a...  [scary descriptor]  [scary trait/skill]  [monster/archetype]
 plans to...    [scary action]  the  [mysterious descriptor]  [object/place]
 which will...  [scary result]  or possibly  [silly result]  !
A ritual of...  [item/substance]  and  [activity]  and  [rare occurrence]
 might just...  [impeding action]  it/them, for  [duration/cost]  !

Reveal some of this early for a faster game, or go deep with multiple threads!
Try to balance each player's contributions and "turns", organically.

Roll and Role Play
------------------
Game Master: Describe the situation.         Players: Say what you want to do.

GM: If it's risky, rule the action as FEARS or GEARS, and call for a die roll.
    + Add a roll if they're prepared.    + Add a roll if they're an expert.
Player: Roll to see if your actions succeeds.
    Success means APTITUDE or higher for FEARS, equal or lower for GEARS.

0) No dice succeed:  Your action backfires.  GM: Depict how things get worse.
1) One die succeeds: You manage, barely.     GM: Specify a complication/cost.
2) Two dice succeed: You do the action.
3) All dice succeed: You do an amazing job!  GM: Detail a bonus/extra effect.
=) Roll your APTITUDE exactly on any die:    GM: Impart a realization/insight.
    After this eureka moment, you may change your action and re-roll.

Players: To HELP the rolling player, describe your effort and make a roll.
If you succeed, the helped player gets an additional die roll.
</pre>
